
.link-simples {
    text-decoration: none;
    color: inherit;
}
.link-sublinhado {
    text-decoration: none;
    color: inherit;
}
.link-sublinhado:hover {
    text-decoration: underline;
}
.topo {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 54px;
    width: calc(100% - 2px);
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    z-index: 10;
    box-shadow: 0 0 8px rgb(214, 214, 214);
}
.logo-mobile {
    display: none;
    height: 22px;
    width: 103px;
}
.logo {
    width: 145px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.borda {
    width: 1px;
    height: 22px;
    background-color: #DBDBDB;
}
.logo-img { /*LOGO INSTAGRAM */
    height: 29px;
    width: 103px;
    margin-top: 3px;
}
.busca {
    width: 215px;
    height: 28px;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    background-color: #fafafa;
    text-align: center;
    box-sizing: border-box;
    color: #cecece;
}
.icones {
    display: flex;
    justify-content: space-between;
    width: 150px;
}
.icone-img {
    font-size: 20px;
}
.corpo {
    display: flex;
    justify-content: center;
    margin-top: 56px;
    background: #fafafa;
    width: 100%;
    height: auto;
}
.stories {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 614px;
    height: 118px;
    margin-top: 34px;
    background-color: #ffffff;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    position: relative;
}
button {
    background-color: inherit;
    border: none;
    outline-width: 0;
    font-size: inherit;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    cursor: pointer;
    padding: 0;
}
.stories ion-icon {
    position: absolute;
    right: 8px;
    top: 45px;
    width: 30px;
    height: 30px;
    color: rgb(249, 249, 249);
    z-index: 3;
}
.conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}
.story {
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66px;
    height: 66px;
    background-image: url('../Imagens/stories_background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}
.story-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 56px;
    height: 56px;
    z-index: 1;
    border-radius: 28px;
    box-sizing: border-box;
}
.story-user {
    text-align: center;
    width: 78px;
    height: 19px;
    margin-top: 1px;
    padding-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.posts {
    width: 614px;
    height: auto;
    margin-top: 24px;
    background-color: #fafafa;
}
.caixa-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 614px;
    height: 749px;
    margin-top: 24px;
    background-color: #fafafa;
}
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 614px;
    height: 61px;
    background-color: #ffffff;
    border: 1px solid #DBDBDB;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.usuario {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 190px;
    height: 32px;
    background-color: #ffffff;
}
.user-img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
}
.user-name {
    width: 109px;
    height: 21px;
    display: flex;
    align-items: center;
}
.opcoes-post {
    margin-right: 17px;
}
.post-img {
    width: 614px;
    height: 612px;
}
.rodape {
    width: 614px;
    height: 76px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.likes, .sugestao, .roboto-14p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.sugestao-user-name, .roboto-14p-bold {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.roboto-14p-bold-gray {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #8E8E8E;
    margin-top: 3px;
}
.user-name{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 500;
}
.roboto-12p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.roboto-12p-bold {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
}
.roboto-thin {
    font-weight: 300;
    color: gray;
    margin-top: 3px;
}
.roboto-12p-gray {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #8E8E8E;
    margin-top: 3px;
}
.roboto-11p-gray {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #C7C7C7;
    line-height: 13px;
}
.roboto-12p-blue {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #139EF2;
}
.interacoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
    margin-top: 3px;
}
.reacoes {
    display: flex;
    justify-content: space-evenly;
    width: 111px;
}
.salvar {
    margin-right: 17px;
}
.engajamento {
    width: 100%;
    height: 50%;
    display: flex;
}
.comment-img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 1px;
}
.likes {
    font-size: 14px;
    margin-left: 10px;
    margin-top: 3px;
}
.menu-lateral {
    width: 300px;
    height: 430px;
    margin-top: 57px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: rgba(0, 0, 0, 0);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 113px;
}
.user-info {
    display: flex;
    align-items: center;
}
.user-info-img {
    width: 56px;
    height: 56px;
    border-radius: 28px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 15px;
}
.sugestao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}
.perfil-sugerido {
    display: flex;
    align-items: center;
}
.sugestao-user-img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 15px;
}
.sugestao-user-name {
    width: 109px;
    height: auto;

}
video {
    width: 614px;
}

/* ---------- RESPONSIVO 935PX ---------- */
@media screen and (max-width: 935px) {
    .menu-lateral {
        display: none;
    }
    .topo {
        justify-content: space-between;
    }
    .logo {
        margin-left: 20px;
    }
    .icones {
        margin-right: 20px;
    }
}

/* ---------- RESPONSIVO 614PX ---------- */
@media screen and (max-width: 614px) {
    .topo {
        width: 100vw;
        position: fixed;
        top: 0px;
        left: 0px;
    }
    .feed {
        width: 100vw;
    }
    .stories {
        width: calc(100vw - 2px);
    }
    .caixa-post {
        width: 100vw;
        height: auto;
    }
    .cabecalho {
        width: calc(100vw - 2px);
    }
    .post-img {
        width: 100vw;
        height: auto;
    }
    .rodape {
        width: 100vw;
    }
    .menu-lateral {
        display: none;
    }
    .topo {
        justify-content: space-between;
    }
    .logo {
        margin-left: 20px;
        width: auto;
    }
    .logo img {
        display: none;
    }
    .logo div {
        display: none;
    }
    .logo-mobile {
        display: block;
    }
    .busca {
        display: none;
    }
    .icones {
        width: auto;
        margin-right: 20px;
        justify-content: flex-end;
    }
    .icones a:nth-child(2) {
        display: none;
    }
    .icones a:nth-child(3) {
        display: none;
    }
    .icones a:nth-child(4) {
        display: none;
    }
    .stories {
        margin-top: 0px;
        background: rgba(0, 0, 0, 0);
        border: 0px solid #DBDBDB;
        border-radius: 3px;
    }
    .stories button {
        display: none;
    }
    .posts {
        margin-top: 0px;
        width: 100vw;
    }
    .posts div:first-child {
        margin-top: 0px;
    }
    video {
        width: 100vw;
    }
}